html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Reset Password
    body
        h1 Reset Password
        form(action=`/user/reset-password` method='POST')
            div
                label(for="password") Reset Password
                input( type="password" id="password" name="password" placeholder="Enter Your New Password" )
                div
                button(type="submit") Reset